{% extends 'base.html' %}

{% block header %}
    <div class="container-fluid menu">
        <div class="container">
            <div class="menu-button d-sm-none">
                <i class="fas fa-bars"></i>
                <div class="menu-toggle-panel hide">
                    <i class="fas fa-times"></i>
                    <ul>
                        <li><a href="./">Дашборд</a></li>
                        <li><a href="./">Отчеты</a></li>
                        <li><a href="./">Авторизоваться</a></li>
                    </ul>
                </div>
            </div>
            <div class="logo"></div>
            <div class="menu-list d-none d-sm-block">
                <ul>
                    <li><a href="./">Дашборд</a></li>
                    <li><a href="./">Отчеты</a></li>
                    <li class="red"><a href="./">Авторизоваться</a></li>
                </ul>
            </div>
            <div class="menu-profile d-sm-none">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </div>

    <div class="container">
        <header class="header">
            ситуационный центр
        </header>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="">
            <div class="col-lg-4 col-md-6 col-12 col-fix">
                <div class="block">
                    <div class="img"><img src="https://pngicon.ru/file/uploads/gory.png" alt=""></div>
                    <div class="content">
                        <header class="alpha">воронка сбора цифрового следа</header>

                        <main>Оценка мероприятий участниками</main>
                        <footer><i class="fas fa-sync"></i> 10 июля</footer>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
